body {
  font: 400 14px/1.6 'Hind', Verdana, Helvetica, sans-serif;
  background: #e9eadf;
}

/*.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #36752D; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #87B94C), color-stop(1, #34471E) );background:-moz-linear-gradient( center top, #87B94C 5%, #34471E 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#87B94C', endColorstr='#34471E');background-color:#87B94C; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #36752D; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #000000; border-left: 1px solid #87B94C;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #DFFFDE; color: #275420; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }*/

/*@font-face {
    font-family: 'bariol_lightlight';
    src: url('bariol_light-webfont.woff2') format('woff2'),
         url('bariol_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
/*
.chart-holder-225 {
  height: 225px;
}
*/
/*

@media (min-width: 768px) {
body {
  background: #e6e6e6;
  }
}*/

/*h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: Oswald;
  font-weight: 400;
}*/
.content {
  position: relative;
  width: 100%;
  padding-top: 20px;
  background: #fff;
}
.content::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  width: auto;
  height: 100px;
  margin-top: -15px;
  margin-right: -25px;
  margin-left: -25px;
  background-image: linear-gradient(to bottom, #e9e9e9 0%, #ffffff 100%);
  background-repeat: repeat-x;
}
.content-container {
  position: relative;
  z-index: 101;
}
@media (min-width: 768px) {
  .content {
    min-height: 750px;
    padding: 0;
    margin-top: -52px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  .content::before {
    margin: 0;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .content-container {
    padding: 30px 25px 40px 25px;
  }
  .content-header-title {
    font-size: 28px;
  }
}
.heading-inline {
  display: inline-block;
}
.mainbar {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  background: #4C87B9;
  border-bottom: 10px solid #fff;
}
.mainbar .mainbar-nav {
  text-align: left;
}
.mainbar .mainbar-nav > li > a {
  color: #fff;
  font-weight: 600;
}
.mainbar .mainbar-nav > li > a > i {
  margin-right: 5px;
}
.mainbar .mainbar-nav > li > a:hover,
.mainbar .mainbar-nav > li > a:focus {
  background: #427aa9;
}

@media (min-width: 768px) {
  .mainbar {
    height: 160px;
    padding: 0;
  }
  .mainbar .mainbar-nav {
    float: none;
    margin-top: 17px;
  }
  .mainbar .mainbar-nav > li {
    margin-right: 4px;
  }
  .mainbar .mainbar-nav > li > a {
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    text-shadow: 1px 1px 2px #427aa9;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .mainbar .mainbar-nav > li > a > i {
    display: block;
    margin-right: 0;
    margin-bottom: 6px;
    font-size: 24px;
  }
  .mainbar .mainbar-nav > li > a:hover,
  .mainbar .mainbar-nav > li > a:focus {
    border-color: #427aa9;
    background: #427aa9;
  }
  .mainbar .mainbar-toggle {
    display: none;
  }
  .mainbar .mainbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .mainbar .mainbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .mainbar .mainbar-collapse.in {
    overflow-y: visible;
  }
}
@media (min-width: 992px) {
  .mainbar {
    height: 170px;
  }
  .mainbar .mainbar-nav > li {
    margin-right: 10px;
  }
  .mainbar .mainbar-nav > li > a {
    padding: 12px 12px;
    font-size: 14px;
  }
  .mainbar .mainbar-nav > li > a > i {
    font-size: 28px;
  }
}
.navbar {
  /*position: relative;*/
  z-index: 501;
  min-height: 60px;
  margin-bottom: 0;
  background-color: #222222;
  border: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar .navbar-nav > li > a {
  color: #999999;
  font-size: 13px;
}
.portlet {
  position: relative;
  clear: both;
  width: auto;
  margin-bottom: 2em;
}
.portlet .portlet-header {
  position: relative;
  padding: 1px 15px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #D5D5D5;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.portlet .portlet-header:before,
.portlet .portlet-header:after {
  content: " ";
  display: table;
}
.portlet .portlet-header:after {
  clear: both;
}
.portlet .portlet-header h1,
.portlet .portlet-header h2,
.portlet .portlet-header h3,
.portlet .portlet-header h4,
.portlet .portlet-header h5,
.portlet .portlet-header h6 {
  float: left;
  padding: 10px 0;
  margin: 0 1em 0 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 400;
  color: #555;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
.portlet .portlet-header h1 i,
.portlet .portlet-header h2 i,
.portlet .portlet-header h3 i,
.portlet .portlet-header h4 i,
.portlet .portlet-header h5 i,
.portlet .portlet-header h6 i {
  display: inline-block;
  margin-top: -3px;
  margin-right: 10px;
  font-size: 16px;
  color: #777;
  vertical-align: middle;
}
.portlet {
  border: 1px solid #D5D5D5;
  border-radius: 4px;
  background-clip: padding-box;
}
.portlet-content {
  padding: 10px 10px;
  background: #FFF;
  border-radius: 4px;
  background-clip: padding-box;
}
.portlet-footer {
  padding: 15px;
}
.row-stat {
  padding: 17px 13px 21px;
  margin-bottom: 1.25em;
  border: 3px solid #ddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.row-stat-label {
  color: #999;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}
.row-stat-value {
  display: inline-block;
  margin-right: .25em;
  margin-bottom: 0;
}
.progress-bar-primary {
  background-color: #87b94c;
}




.datagrid { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #FFFFFF; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFFFFF), color-stop(1, #FFFFFF) );background:-moz-linear-gradient( center top, #FFFFFF 5%, #FFFFFF 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF');background-color:#FFFFFF; color:#000000; font-size: 12px; font-weight: bold; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #000000; font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEF4; color: #000000; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #FFFFFF;background: #E1EEF4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }

.dashboard-stat {
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  margin-bottom: 25px;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  .dashboard-stat:before, .dashboard-stat:after {
    content: " ";
    display: table; }
  .dashboard-stat:after {
    clear: both; }
  .portlet .dashboard-stat:last-child {
    margin-bottom: 0; }
  .dashboard-stat .visual {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px; }
    .dashboard-stat .visual > i {
      margin-left: -35px;
      font-size: 110px;
      line-height: 110px; }
  .dashboard-stat .details {
    position: absolute; 
    right: 15px;
    padding-right: 15px; }
    .dashboard-stat .details .number {
      padding-top: 25px;
      text-align: right;
      font-size: 34px;
      line-height: 36px;
      letter-spacing: -1px;
      margin-bottom: 0px;
      font-weight: 300; }
  .dashboard-stat.dashboard-stat-v2 .visual {
    padding-top: 35px;
    margin-bottom: 40px; }

.dashboard-stat.one {
  background-color: #4cb9b5; }
  .dashboard-stat.one .visual > i {
    color: #FFFFFF;
    opacity: 0.1;
    filter: alpha(opacity=10); }
  .dashboard-stat.one .details .number {
    color: #FFFFFF; }

.dashboard-stat.two {
  background-color: #87b94c; }
  .dashboard-stat.two .visual > i {
    color: #FFFFFF;
    opacity: 0.1;
    filter: alpha(opacity=10); }
  .dashboard-stat.two .details .number {
    color: #FFFFFF; }

.dashboard-stat.three {
  background-color: #e6c200; }
  .dashboard-stat.three .visual > i {
    color: #FFFFFF;
    opacity: 0.1;
    filter: alpha(opacity=10); }
  .dashboard-stat.three .details .number {
    color: #FFFFFF; }

.dashboard-stat.four {
  background-color: #b94c50; }
  .dashboard-stat.four .visual > i {
    color: #FFFFFF;
    opacity: 0.1;
    filter: alpha(opacity=10); }
  .dashboard-stat.four .details .number {
    color: #FFFFFF; }
.overflower{
  overflow: scroll;
}
.searchHeader{
  color:white !important;
  background: #4cb97f !important;
}
.fullChat{
  position: relative;
}

.displayButton{
  position: relative;
  bottom: 5px;
  left: 2px;
   border-radius: 2px;
    color: white;
    background-color:#923a3d;
    box-shadow: 0 3px 3px 0 #5b2426;
    border: 1px white solid;
}
.displayButton:hover{
  background:#c46e71;
  color: white;
}
.displayChats{
  z-index: 10;
}
