#searchResults {
  height: 300px;
  width: 438px;
  overflow: auto;
  border-radius: 0 0 4px 4px;
  background-color: rgba(170, 170, 170, 0.50);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
}


#searchBox {
  width: 438px;
  border-radius: 4px 4px 0 0;
}

.highlight {
  background: #CCC;
}

#nutritionix {
  margin-left: 280px;
}

.red {
  background-color: gray;
}

.table1 {
        width: 50%;
    }

#brandName {
  width: 80px;
  height: 15px;
  display: inline-block;
  overflow: hidden;
  font-size: 12px;
  margin-left: 2px;
  font-color: white;
}

#itemName {
  width: 264px;
  height: 15px;
  display: inline-block;
  overflow: hidden;
  font-size: 12px;
  font-color: white;
}

#itemCal {
  width: 80px;
  height: 15px;
  display: inline-block;
  overflow: hidden;
  text-align: right;
  font-size: 12px;
  font-color: white;
}

#rowColor:hover {
  color: white;
}

.app-modal-window .modal-dialog {
  width: 800px;
}

.app-modal-window-signup .modal-content {
    padding: 50px
}
.app-modal-window-fitness {
  width: 600px;
}

#nutritionContainer {
  margin-left: 30px;
}

#profBtn {
  margin-left: 195px;
}

.customJumbotron {
    /*background-image: url('../assets/images/landingMan.jpg');*/
    height: 90%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('../assets/images/landingMan.jpg');
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url('../assets/images/landingMan.jpg');
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('../assets/images/landingMan.jpg');
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('../assets/images/landingMan.jpg');
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('../assets/images/landingMan.jpg');
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 90%, #E8E7DC 100%), url('../assets/images/landingMan.jpg');
    background-size: cover;
}

.cardioForm {
    margin: 50px;
    padding: 5px;
}

.strengthForm {
    margin: 50px;
    padding: 5px;
}

.goalForm {
    margin: 50px;
    padding: 5px;
}

.leaderboard {
  width: 50px;
  height: 50px;
}


/*.authContainer {*/
	/*width: 300px;*/
	/*max-width: 50%;*/
	/*margin: 0 auto;*/
	/*padding: 5px;*/
/*}*/

/*.container {*/
	/*width: 300px;*/
	/*margin: 0 auto;*/
	/*padding: 5px;*/
/*}*/

.signup {
	margin: 50px;
	padding: 5px;
}

body { padding-top: 50px; }

md-select {
    width: 175px;
}

md-option {
    width: 80%;
    padding: 0px;
}
.chatParent{
  left: -25px;
  bottom: -10px;
  background-color: #E8E7DC;
  border-radius: 10px;
  height:calc(100% + 30px);
  width: calc(100% + 50px);
  box-shadow: 10px 10px 5px #0E1615
}
.entireChatParent{
  border: 2px black solid;
  border-radius: 10px;
}
#chattingWith {
    font-size: 50px;
    font-family: 'Arvo', serif;
    text-align:center;
    background-color: #0E1615;
    color: #E8E7DC;
    width: 100%;

}

.searchButton{
  width: 230px;
  position: relative;
  right: 13px;
}
#messageForm { padding: 3px; width: 100%; }
#m { border-radius: 10px; background: #FFF; border: 1px #0A100E solid; padding: 10px; width: 70%; margin-right: .5%; }
#sendMessage { border-radius: 10px; color: #E8E7DC; background-color:#0A100E; border: 1px #000 solid; padding: 10px; width: 29%;}
#messages { list-style-type: none; margin: 0; padding: 0; width: 100%; overflow: auto;}
#messages li { background:#E5E3D8; color: #2d343a; padding: 5px 10px; background:white; }
#messages li:nth-child(even) { background: #AAA; color: black ; }

.eachMessage {
    text-align: left;
    word-wrap: break-word;
    padding: 8px;
    font-size: 16px;
}
.eachMessage:hover {
    background: black;
    color: black;
}
.overdue {
    color: red;
}

.inlineGoal {
    display: inline-block;
    font-size: 15.5px;
}

.achieved {
    color: green;
}

.goalsDropdown {
    width: 200px;
    line-height: 50px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
    select {
        height:35px;
        line-height:35px;
        background:#f4f4f4;
    }
}
select::-moz-focus-inner { /*Remove button padding in FF*/
    border: 0;
    padding: 0;
}
@-moz-document url-prefix() { /* targets Firefox only */
    select {
        padding: 15px 0!important;
    }
}
@media screen\0 { /* IE Hacks: targets IE 8, 9 and 10 */
    select {
        height:35px;
        line-height:35px;
    }
}

.ct-line.ct-threshold-above, .ct-point.ct-threshold-above, .ct-bar.ct-threshold-above {
    stroke: #f05b4f;
}

.ct-line.ct-threshold-below, .ct-point.ct-threshold-below, .ct-bar.ct-threshold-below {
    stroke: #59922b;
}

.ct-area.ct-threshold-above {
    fill: #f05b4f;
}

.ct-area.ct-threshold-below {
    fill: #59922b;
}

.ct-chart {
    width: 500px;
    height: 300px;
    display: inline-block;
}

.ct-bar {
    stroke-width: 30px;
}

.goalType {
    width: 275px;
    /*padding: 5px;*/
    margin: auto;
}

.goalHeader {
    width: 425px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.cardioHeader {
    width: 313px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.nutritionHeader {
    width: 225px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.strengthHeader {
    width: 340px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.navbar {
    border-bottom: 6px solid #1C2329;
}

.goalsTable tr {
    padding: 5px;
}

.goalsTable {
    /*position: relative;*/
    /*top: -30px;*/
    margin: auto;
    padding: 10px;
    text-align: center;
}

div h2 {
    text-align: center;
}

span {
    text-align: center;
}

div > h2 > span {
    text-align: center;
}


.goalsDelete {
    vertical-align: center;
    width: 50px;
}

.row{
    text-align: center;
}

.calcHeader {
    font-size: 15px;
    line-height: 90%;
}

.calcNumber {
    font-size: 40px;
    font-weight: 600;
}

.calcNotice {
    font-size: 15px;
}
.entireChat {
    background-color: white;
    padding-right: 0;
    padding-left: 0;
}
.chat {
    top: 30px;
    width: 100%;
    height: 70%;
    overflow: scroll;
}
.welcome {
    text-align: center;
    margin: 5px;
    padding: 10px;
    font-size: 65px;
    font-weight: 400;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.searchBuddy{
    left: 30%;
}
.clearer{
    clear: both;
}
body {
    /*background-color: #1A232F;*/
    /*background-color:#33414D;*/
    background-color: #29343D;

}

tr .goalsData {
    width: 500px;
}

td .indivialGoal {
    font-size: 18px;
    /*letter-spacing: 0.5px;*/
}

td .goalDueDate {
    font-size: 12px;
    /*letter-spacing: 0.5px;*/

}
/*.app-modal-window .modal-dialog {*/
    /*width: 500px;*/
/*}*/
.register-profile-modal .modal-dialog{
    width: 600px;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}

/*.profileContainer {*/
    /*display: flex*/
/*}*/

/*.profileForm {*/
    /*float: left;*/
    /*!*display: flex;*!*/
    /*width: calc(100% - 600px);*/
    /*background: lightgreen;*/

/*}*/

.profileImage {
    position: relative;
    border-radius: 100px;
 }

.profileImage div {
    min-height: 10px;
    margin: 20px 20px;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    line-height: 90%;
    font-size: 16px;
}

.profileForm {
    margin: 25px 0;
    padding: 15px 5px;
}

.control-label {
    width: 150px;
}

.profileHeader{
    text-align: center;
}
.cool-font {
  font-size: 50px;
  font-family: 'Arvo', serif;
}


.flexor {
  position: relative;
  left: -150px;
  width: calc(100% + 265px);
  height: 600px;
  display: flex;
  flex-flow:row wrap;
  justify-content: space-around;
  align-items: stretch;

}
.searchedUsername {
  font-size: 26px;
  font-family: 'Arvo', serif;
}
.lilProfiles {
  width: 230px;
  height: 230px;
}
.lilerProfiles {
  width: 25px;
  height:25px;
}
.userLocation {
  color: #0A100E;
}
.locationForm {
  position: relative;
  padding: 15px 0px 30px 0px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #0E1615;
  bottom: 30px;
  background-color: #E8E7DC;
}
.team > div{
    text-align: center;
}

.relativizer {
    position: relative;
    left: 3px;
}

.threeSection {
    word-wrap: break-word;
}

.section {
    padding-bottom: 20px;
}

.noListStyles {
  list-style-type: none;
}

.chatWithButton {
  background-color: #0A100E;
  color: #E8E7DC;

}
.chatWithButton:hover{
  background-color: #2C322F;
  color: white;
}
.profileCard {
  background-color: #E8E7DC;
  width:300px;
  border: 2px black solid;
  margin: 5px;
  box-shadow: 10px 10px 5px #0E1615;
  border-radius: 10px;
  padding-bottom: 15px;
  padding-top: 5px;
}

.positionUL {
  overflow: hidden;
  position: relative;
  right: 25px;
}
#userAddress {
    width: 50%;
    display: inline;
}

.cut-overflow {
    overflow: hidden;
}

.navbar-inverse-override {
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to bottom,#0E1614 0,#0A100E 100%) !important
}

.landingFooter {
    background-color: #1C2329


}

.navbar {
 background-color: #000 !important
}

.dashboard {
 /*background-color: #2D343A;*/
    /*background-color: #1A232F;*/
    background-color: #29343D;
    



    color: #000;
}

div .calculations {
 background-color: #E8E7DC;
    /*width: 300px;*/
    position: relative;
    top: 25px;
    /*width: 192px;*/
    height: 150px;
    /*width: 100%;*/
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    margin: 0 0 10px 0;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #0E1615
}


.calculations div {
    margin: auto;
}

.spacing {
  padding:0 0 0 15px;
}
.goals {
    background-color: #E8E7DC;
    position: relative;
    top: 15px;
    overflow-scrolling: ;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #0E1615;
}

.chatButtons {
  margin-bottom: 5px;

}

.allGraphs {
    background-color: #E8E7DC;
    position: relative;
    top: 25px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #0E1615
}

.ct-series-a .ct-slice-donut {
    stroke: #0b97c4;
    stroke-width: 20px;
}

.ct-label {
    font-size: 16px;
}

.nutritionDetails {
    text-align: center;
    font-size: 14px;
}

.calcCards {
    left: 15px;
    margin-left: -15px;
}
