fieldset {
  width: relative;
}

#profile-age {
  margin: 4px;
}

#profile-gender {
  margin: 4px;
}

#profile-height {
  margin: 4px;
}

#profile-weight {
  margin: 4px;
}

#profile-goal-weight {
  margin: 4px;
}

/*.authContainer {*/
	/*width: 300px;*/
	/*max-width: 50%;*/
	/*margin: 0 auto;*/
	/*padding: 5px;*/
/*}*/

/*.container {*/
	/*width: 300px;*/
	/*margin: 0 auto;*/
	/*padding: 5px;*/
/*}*/

.signup {
	margin: 50px;
	padding: 5px;
}

body { padding-top: 70px; }

md-select {
    width: 175px;
}

md-option {
    width: 80%;
    padding: 0px;
}
