<div>
	<div>Your current city: {{savedAddress}}</div>
	<form ng-submit="sendCity()">
		<label for="userAddress">Enter City or Zip Code</label>
		<input id="userAddress" ng-model="address" />
		<button type="submit">Send City or Zip</button>
	</form>

	<button ng-click="findPeople(savedAddress)">find people!</button>
	  <div ng-repeat = "user in userList">
	    <button ng-click='chatWithUser(user.username)'>{{user.username}}</button>
	  </div>
</div>
<div>
    <ul ng-repeat="message in messages" id="messages" >
    	<li>{{message.username}}: {{message.message}}</li>
    </ul>
    <div id="typing"></div>
    <form id="messageForm" ng-submit="sendMessage()">
      <input id="m" autocomplete="off" ng-model="message" /><button id="sendMessage">Send</button>
    </form>
</div>
