<div class="ng-cloak"  ng-show="todayNutritionPie.calories" style="text-align: center">
    <div class="nutritionDetails">
        <span ng-if="todayNutritionPie.calories !== 0">You consumed <strong>{{todayNutritionPie.calories}} calories</strong> today</span><br>
        <span ng-if="todayNutritionPie.protein !== 0">You consumed <strong>{{todayNutritionPie.protein}}g of protein</strong> today</span><br>
    </div>
</div>

<div ng-show="!todayNutritionPie.calories" style="text-align: center">
    No nutrition logs have been made today.
</div>