<div class="cardioForm">
  <h1>Log a Cardio Session</h1>  
  <div class="form">

    <form name="cardioLog" class="form-horizontal" role="form"  ng-submit="submitCardio()">
      <div class="form-body">

        <!-- Date Group -->
        <div class="form-group">
          <label class="col-md-3 control-label">*Date</label>
            <div class="col-md-7">
               <input class="form-control" id="date" type="date" min="2014-01-01" max="2020-12-31" ng-model="date" placeholder="date" style="width:174px" required>
            </div>
        </div>

        <!-- Time -->
        <div class="form-group">
          <label class="col-md-3 control-label">*Time</label>
          <div class="col-md-7">
            <uib-timepicker ng-model='time'datetimepicker-neutralTimezone required></uib-timepicker>
          </div>
        </div>

        <!-- Activity Form Multilist-->
        <div class="form-group">
          <label class="col-md-3 control-label">*Activity</label>
          <div class="col-md-7">
            <select multiple class="form-control" ng-model="type" required>
              <option id="runningPicker" value="Running">Running</option>
              <option value="Cycling">Cycling</option>
              <option value="Swimming">Swimming</option>
              <option value="Rowing">Rowing</option>
              <option value="Jumping Rope">Jumping Rope</option>
              <option value="Steppers">Steppers</option>
              <option value="Ellipticals">Ellipticals</option>
            </select>
          </div>
        </div>

        <!-- Distance Input Box -->
        <div class="form-group">
          <label class="col-md-3 control-label">*Distance (Miles)</label>
          <div class="col-md-7">
            <input type="number" step="any" min="1" max="9000" class="form-control" placeholder="Miles" ng-model="distance" required>
          </div>
        </div>

        <!-- Meters to Miles Calculator -->
        <div class="form-group">
          <label class="col-md-3 control-label">Meters?</label>
          <div class="col-md-7">
            <input class="number" type="number" step="any" min="1" max="9000" name="meters" ng-model="meters">  <span ng-if="meters > 0">{{convertMiles(meters)}} Miles
            </span>
          </div>
        </div>

        <!-- Duration Input Box -->
        <div class="form-group">
          <label class="col-md-3 control-label">*Duration (Minutes)</label>
          <div class="col-md-7">
            <input type="number" step="any" min="1" max="5000" class="form-control" placeholder="Minutes" ng-model="duration" required>
          </div>
        </div>

        <!-- Pace Calculator -->
        <div class="form-group" ng-if="pace(duration,distance) > 0">
          <label class="col-md-3 control-label">Calculated Pace</label>
          <div class="col-md-7">
            <p class="form-control-static">{{pace(duration, distance)}} minutes per mile</p>
          </div>
        </div>      

        <!-- Intensity Radio Select -->
        <div class="form-group">
          <label class="col-md-3 control-label">*Intensity</label>
              <div class="col-md-7">
                <input type="radio" id="intensityOf1" ng-model="intensity" value="1" ng-required="!intensity"> 1
                <input type="radio" ng-model="intensity" value="2" ng-required="!intensity"> 2
                <input type="radio" ng-model="intensity" value="3" ng-required="!intensity"> 3
                <input type="radio" ng-model="intensity" value="4" ng-required="!intensity"> 4
                <input type="radio" ng-model="intensity" value="5" ng-required="!intensity"> 5
              </div>
        </div>

        <!-- Submit/Cancel Button -->
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-7">
                    <input id="submitCardioModal" type="submit" class="btn btn-primary" ng-disabled="cardioLog.$invalid">
                    <button type="button" ng-click="$close()" class="btn default" ng-class='{red:hover}' ng-mouseenter="hover=true" ng-mouseleave="hover=false">Cancel</button>
                </div>
            </div>
        </div>
      </div>
    </form>
  </div>
</div>
