<div class="container">
  <h1>Cardio Input</h1>
	<form>
    <div>
      Date: <input type="date" ng-model="date" placeholder="date"><br>

      Activity:
      <select name="type" ng-model="type">
      <option value="">---Please select---</option>
      <option value="running">Running</option>
      <option value="cycling">Cycling</option>
      <option value="swimming">Swimming</option>
      <option value="rowing">Rowing</option>
      <option value="jumpingrope">Jumping Rope</option>
      <option value="steppers">Steppers</option>
      <option value="ellipticals">Ellipticals</option>
      </select><br>

      Intensity: <input type="text" name="intensity" ng-model="intensity" placeholder="scale 1-5"><br>
      Scale 1-5: 1 being least intense, 5 being most intense<br>

      Distance: <input type="text" name="distance" ng-model="distance" placeholder="miles"><br>
      Convert <input type="text" name="meters" ng-model="meters" placeholder="meters"> meters to {{convertMiles(meters)}} miles<br>

      Duration: <input type="text" name="duration" ng-model="duration" placeholder="minutes"><br>
      Pace: {{pace(duration, distance)}} minutes per mile<br>
      Calories Burned:
		<button type='submit' ng-click="submitCardio()">Submit</button>
	</form><br>
  Activity Log:<br>
  <table class="table table-striped">
    <tr>
      <th>Date</th>
      <th>Activity</th>
      <th>Distance (miles)</th>
      <th>Duration (minutes)</th>
      <th>Pace (mpm)</th>
    </tr>
    <tr ng-repeat="cardio in cardioList | orderBy:'date' | filter:search">
      <td>{{cardio.date}}</td>
      <td>{{cardio.type}}</td>
      <td>{{cardio.distance}}</td>
      <td>{{cardio.duration}}</td>
      <td>{{cardio.pace}}</td>
    </tr>
  </table>
  </div>
</div>
