  <h1>Cardio Input</h1>
	<form>
    <div>
      Date: <input type="date" ng-model="date" placeholder="date"><br>

      Category:
      <input type="radio" ng-model="category" value="cardio"> Cardio
      <input type="radio" ng-model="category" value="strength"> Strength<br>

      Types:
      <select name="type" ng-model="type">
      <option value="running">Running</option>
      <option value="cycling">Cycling</option>
      <option value="swimming">Swimming</option>
      <option value="rowing">Rowing</option>
      <option value="jumpingrope">Jumping Rope</option>
      <option value="steppers">Steppers</option>
      <option value="ellipticals">Ellipticals</option>
      </select><br>

      Distance: <input type="text" name="distance" ng-model="distance" placeholder="miles"><br>

      Duration: <input type="text" name="duration" ng-model="duration" placeholder="minutes"><br>
		<button type='submit' ng-click="submitCardio()">Submit</button>
	</form>
  </div>
</div>
