<!-- Navbar -->
<div class="mainbar">
  <div class="container">
    <div class="mainbar-collapse collapse">
      <ul class="nav navbar-nav mainbar-nav">
        <li>
          <a href="#dashboard">
            <i class="fa fa-dashboard"></i>
            Dashboard
          </a>
        </li>

        <li>
          <a href="#cardio">
            <i class="fa fa-bicycle"></i>
            &nbsp;&nbsp;Cardio&nbsp;&nbsp;
          </a>
        </li>

        <li>
          <a href="#strength">
            <i class="fa fa-caret-square-o-up"></i>
            Strength
          </a>
        </li>

        <li>
          <a href="#nutrition">
            <i class="fa fa-cutlery"></i>
            Nutrition
          </a>
        </li>

        <li>
          <a href="#social">
            <i class="fa fa-users"></i>
            Socialize
          </a>
        </li>

        <li>
          <a href="#bet">
            <i class="fa fa-money"></i>
            &nbsp;&nbsp;&nbsp;&nbsp;Bet&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>

<!-- Main Container -->

<div class="container">
  <div class="content">
    <div class="content-container">
      <div>
        <div style="width: 100%; background-color: inherit; border: none">
          <div class="heading-inline">
            <h2>Strength Weekly Progress</h2>
            <button button class="btn btn-primary" ng-click="inputStrength()"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;Track your Strength</button><br><br>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="portlet">
                <div class="portlet-header">
                  <div>
                    <h3><i class="fa fa-caret-square-o-up"></i>Cumulative Strength Log</h3>
                  </div>
                </div>
                <div class="portlet-content">
                  <table class="datagrid table">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Activity</th>
                        <th>Weight</th>
                        <th>Reps</th>
                        <th>Sets</th>
                        <th title='The maximum amount of force that can be generated in one maximal contraction (90%).' data-container='body' data-toggle='tooltip' tooltip>One rep max</th>
                        <th>Intensity</th>
                        <th>Duration</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="str in strengthList | orderBy:'date':true">
                        <div ng-if="strengthList">
                          <td>{{str.date | date: "MM-dd-yyyy"}}</td>
                          <td>{{str.type}}</td>
                          <td>{{str.weight}}</td>
                          <td>{{str.reps}}</td>
                          <td>{{str.sets}}</td>
                          <td>{{onerepmax(str.weight, str.reps)}}</td>
                          <td>{{str.intensity}}</td>
                          <td>{{str.duration}}</td>
                        </div>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
