<div class="container">
  <div>
  <h1>Hello {{display.username}}!</h1>
  <h3>Height: {{convert_feet(display.height)}}</h3>
  <h3>Weight: {{display.weight}}</h3>
  <h1>Your BMI is {{bmi(display.height,display.weight)}}</h1>
  <h3>{{categorize(display.height, display.weight)}}</h3>
  <form>
    <div class="form-group">
      <input type="date" min="2014-01-01" max="2020-12-31" ng-model="str.date" placeholder="date"><br>
      <label>Activity</label>
        <select ng-model="str.type">
          <option value="Bench" selected="selected">Bench</option>
          <option value="Squat">Squat</option>
          <option value="Dumbbell Curls">Biceps Everyday</option>
          <option value="Lat Pulldowns">Lat Pulldowns</option>
          <option value="Shoulder Press">Shoulder Press</option>
          <option value="Clean & Jerk">Clean & Jerk</option>
          <option value="Snatch">Snatch</option>
        </select><br>
      <label>Weight (lbs)</label>
      <input type="number" class="dropdown" min="45" max="5000" ng-model="str.weight"><br>
      <label>Repetitions</label>
      <input type="number" class="dropdown" min="0" max="200" ng-model="str.reps"><br>
      <label>Sets</label>
      <input type="number" class="dropdown" min="0" max="500" ng-model="str.sets"><br>
      <label>Intensity (1-5)</label>
      <input type="number" class="dropdown" min="1" max="5" ng-model="str.intensity"><br>
      <label>Duration (minutes)</label>
      <input type="number" class="dropdown" min="0" max="300" ng-model="str.duration">
      <button type="submit" ng-click="submitStrength()" class="btn btn-danger btn-lg">Submit!</button>
    </div>
  </form>

  <h1>Activity Log</h1>
<!--   <div class="ct-chart ct-golden-section" id="chart1"></div>
  <div class="ct-chart ct-golden-section" id="chart2"></div> -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Activity</th>
        <th>Weight</th>
        <th>Reps</th>
        <th>Sets</th>
        <th>One rep max</th>
        <th>Intensity</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="str in strengthList | orderBy:'date':true">
        <td>{{str.date | date: "MM-dd-yyyy"}}</td>
        <td>{{str.type}}</td>
        <td>{{str.weight}}</td>
        <td>{{str.reps}}</td>
        <td>{{str.sets}}</td>
        <td>{{onerepmax(str.weight, str.reps)}}</td>
        <td>{{str.intensity}}</td>
        <td>{{str.duration}}</td>
      </tr>
    </tbody>  
  </table>
  </div>
</div>
