<div class="container">
  <div>
    <h3>Search a username to bet on</h3>
  </div>
  <!-- Search for users -->
  <form>
    <input type="text" ng-model="searchbetuser" placeholder="username" required>
    <button button class="btn btn-primary" ng-click="submitSearch()">Search</button>
  </form>

  <!-- Display users -->
  <div>
    <table class="table table-striped" ng-if="withGoalsList">
      <thead>
        <tr>
          <th>Goal</th>
          <th>Deadline</th>
          <th>Points</th>
          <th></th>
        </tr>
      </thead>
	    <tbody>
	      <tr ng-repeat="user in withGoalsList">
	        <td class="col-sm-4">{{user.intensity}} {{user.category}} by {{user.value}} {{user.measurement}}</td>
	        <td class="col-sm-3">{{user.date| date : format : timezone}}</td>
          <td class="col-sm-3">{{user.points}} </td>
          <td class="col-sm-3"><button class="btn btn-primary" ng-click="placeBet(user.id)"> Bet!</button></td>
	      </tr>
	    </tbody>
	  </table>
  </div>

  <h2>Your Goals Been Bet On</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Goal</th>
        <th>Deadline</th>
        <th>Points</th>
        <th>Bettor</th>
      </tr>
    </thead>
    <tbody ng-if="userBets">
      <tr ng-repeat="bet in userBets | orderBy:'totalpts':true">
          <td class="col-sm-4">{{bet.intensity}} {{bet.category}} by {{bet.value}} {{bet.measurement}}</td>
          <td class="col-sm-3">{{bet.date| date : format : timezone}}</td>
          <td class="col-sm-3">{{bet.points}} </td>
          <td class="col-sm-3">{{bet.username}}</td>
      </tr>
    </tbody>
  </table>

  <!-- List users with most points-->
  <h2> BetterU Leaderboard</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody ng-if="userPoints">
      <tr ng-repeat="top in userPoints | orderBy:'totalpts':true">
        <td class="col-sm-3">{{top.username}}</td>
        <td class="col-sm-3">{{top.totalpts}}</td>
      </tr>
    </tbody>
  </table>

  <!-- Place Bets -->

  <!-- Display search results -->

</div>
