<div id="cardio">
    <div class="cardioHeader">
        <h2>Cardio Exercise Goal</h2>
    </div>
    <form class="form-horizontal" name="cardioGoal" ng-submit="submitCardio(cardio.date, cardio.intensity, cardio.category, cardio.value, cardio.measurement, cardio.points)">
        <div class="form-group">
            <label for="date" class="col-sm-4 control-label">*Complete By</label>
                <div class="col-sm-8">
                    <input class="form-control" id="date" type="date" min="2014-01-01" max="2020-12-31" ng-model="cardio.date" placeholder="date" required>
                </div>
        </div>

        <div class="form-group">
            <label for="intensity" class="col-sm-4 control-label">*Change</label>
            <div class="col-sm-8">
                <select name="intensity" id="intensity" ng-model='cardio.intensity' required>
                    <option value="" selected disabled>Increase/Decrease</option>
                    <option value="Increase">Increase</option>
                    <option value="Decrease">Decrease</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="category" class="col-sm-4 control-label">*Exercise Type</label>
            <div class="col-sm-8">
                <select name="cardio" id="category" ng-model='cardio.category' required>
                    <option value="" selected disabled>Cardio Exercise</option>
                    <option value="Running">Running</option>
                    <option value="Cycling">Cycling</option>
                    <option value="Swimming">Swimming</option>
                    <option value="Rowing">Rowing</option>
                    <option value="Jumping Rope">Jumping Rope</option>
                    <option value="Steppers">Steppers</option>
                    <option value="Ellipticals">Ellipticals</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="value" class="col-sm-4 control-label">*By</label>
            <div class="col-sm-8">
                <input type="number" id="value" ng-model='cardio.value' class="form-control" required>
            </div>
        </div>

        <div class="form-group">
            <label for="measurement" class="col-sm-4 control-label">*Measurement</label>
            <div class="col-sm-8">
                <select name="measurement" id="measurement" ng-model='cardio.measurement' required>
                    <option value="" selected disabled>Select Measurement</option>
                    <option value="Miles">Miles</option>
                    <option value="Minutes">Minutes</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="value" class="col-sm-4 control-label">*Bet Points</label>
            <div class="col-sm-8">
                <input type="number" id="value" min="1" max="1000" ng-model='cardio.points' class="form-control" required><br>
                <span style="line-height: 0.5px">Please pick a number between 1 - 1000</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <input class="btn btn-primary" type="submit" ng-disabled="cardioGoal.$invalid">
                <button type="button" ng-click="$close()" class="btn default" ng-class='{red:hover}' ng-mouseenter="hover=true" ng-mouseleave="hover=false">Cancel</button>
            </div>
        </div>

    </form>

</div>
