<div class="signup">
<h1>Signin</h1>
  <span>Don't have an account?</span>
  <button ng-click="signup()">Sign Up</button><br><br>
  <div class="form-group">
    <div ng-if="userDoesNotExist">Username/Password incorrect!</div>
    <div ng-if="noInput">Please input username and password</div>
    <form name='loginForm' class="form-inline" ng-submit='signin()'>
      <input type='text' ng-model='user.name' class="form-control" placeholder='username' required>
      <input type="password" ng-model='user.password' class="form-control" placeholder='password' required>
      <input type="submit" class="btn btn-default" ng-disabled="loginForm.$invalid">
    </form>
  </div>
</div>