<div class="signup">
  <h2>Sign Up</h2>
  <span>Already have an account? </span><button ng-click="signin()">Sign In</button>
  <div>
    <span ng-if="userExistError">Username already exists! Please login or select different username!</span>
    <form>
        <div class="form-group" ng-if="!next">
          <label for="usernameSignup">Username:</label><br>
          <input id="usernameSignup" type='text' name='username' ng-model='user.name' placeholder='Username' class="form-control" required>
        </div>
      <div class="form-group" ng-if="!next">
        <label for="passwordSignup">Password:</label><br>
      <input id="passwordSignup" type='password' name='password' ng-model='user.password' placeholder='Password' class="form-control" required>
      </div>
    </form>
    </div>

  <div>
    <form>
      <div class="form-group" ng-if="next">
        <label for="ageSignup">Age:</label><br>
        <input id="ageSignup" type='number' name='age' ng-model='user.age' placeholder='Age' class="form-control" required>
      </div>

      <div class="form-group" ng-if="next">
        <label for="heightSignup">Height in Inches:</label><br>
        <input id="heightSignup" type="number" name='height' ng-model='user.height' placeholder="Height" class="form-control" required>
      </div>

      <div class="form-group" ng-if="next">
        <label for="weightSignup">Weight in Pounds:</label><br>
        <input id="weightSignup" type="number" name='weight' ng-model='user.weight' placeholder="Weight" class="form-control" required>
      </div>


      <div class="form-group" ng-if="next">
        <label for="genderSignup">Gender:</label><br>
        <input id="genderSignup" type="radio" name="gender" ng-model='user.gender' value="male"> Male<br>
        <input id="genderSignup" type="radio" name="gender" ng-model='user.gender' value="female"> Female<br>
      </div>

      <div class="form-group" ng-if="next">
        <label for="interestSignup">Interests:</label><br>
        <input id="interestSignup" type="radio" name="interest" ng-model='user.interest' value="cardio"> Cardio<br>
        <input id="interestSignup" type="radio" name="interest" ng-model='user.interest' value="strength"> Strength<br>
        <input id="interestSignup" type="radio" name="interest" ng-model='user.interest' value="both"> Both<br>
      </div>

      <div class="form-group" ng-if="next">
        <label for="gymSignup">Gym:</label><br>
        <input id="gymSignup" type="radio" name="gym" ng-model='user.gym' value="none"> No Gym Membership<br>
        <input id="gymSignup" type="radio" name="gym" ng-model='user.gym' value="la"> LA Fitness<br>
        <input id="gymSignup" type="radio" name="gym" ng-model='user.gym' value="24hour"> 24 Hour Fitness<br>
        <input id="gymSignup" type="radio" name="gym" ng-model='user.gym' value="ufc"> UFC Gym<br>
        <input id="gymSignup" type="radio" name="gym" > Other <input type="text" name="other_reason" ng-model="user.gym"/>

      </div>

      <div>
        <button class="btn btn-primary" type="submit" ng-click="goNext()" ng-if="!profileButton">Next</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()"  ng-if="!next">Cancel</button>
        <button class="btn btn-primary" type="submit" ng-if="next" ng-click="submit()">Submit</button>
      </div>

  </form>
  </div>


</div>
