<div class="dashboard container-fluid">
    <div class="col-lg-2 calcCards">
        <my-calculations></my-calculations>
    </div>

    <div class="col-lg-5 goalsTable">
        <my-goals></my-goals>
    </div>
    
    <div class="col-lg-5 allGraphs">
        <div>
            <h2>Fitness/Health Details</h2>
            <span ng-if="nutritionData.length === 0">No nutrition logs found.</span>
            <div ng-if="nutritionData.length !== 0">
                <div class="nutritionDetails">
                    <span ng-if="todayNutritionPie.calories !== 0">You consumed {{todayNutritionPie.calories}} calories today</span><br>
                    <span ng-if="todayNutritionPie.protein !== 0">You consumed {{todayNutritionPie.protein}}g of protein today</span><br>
                    <span ng-if="(waterIntake[6]/8 * 100) !== 0" title="Adjust your daily recommended water intake value based on how often you exercise. Add 1.5 cups to your daily total for every 30 minutes of exercise." data-toggle='tooltip' data-placement="bottom" tooltip>You drank {{(waterIntake[6]/8 * 100)}}% of daily recommended water intake based on your weight<br>~{{convertWater(dash.weight)}} cups</span>
                    <br>
                    <div class="ct-chart" id="ct1" ng-if="(waterIntake[6]/8 * 100) !== 0"></div>
                </div>
                <div class='ct-chart' id="ct4"></div>
            </div>
        </div>
    </div>

    <div>
        <cardio-graph></cardio-graph>
    </div>

</div>
