<div class="container" id="nutritionContainer" ng-controller='NutritionModalCtrl'>
  <h3>Search for Food</h3>
    <form name='searchNutrition' method='post'>
      <div class="col-sm-6">
        <input id='searchBox' class='form-control' type='text' name='query' placeholder='Search the database by food name or UPC'  ng-model='asyncSelected' uib-typeahead='result for result in searchFoodDB($viewValue)'>
        <!-- <input type='submit' id='logSubmit' class="btn btn-primary btn-sm"> -->
        <div ng-if='asyncSelected.length > 0' id='searchResults'>
          <div class="searchContainer" id='{{i}}' ng-repeat='(index,item) in results track by $index' ng-click='getNutrition(item._id)' ng-class='{red:hover}' class='font' ng-mouseenter="hover=true" ng-mouseleave="hover=false">
          <span id='rowColor'>
          <div id='brandName'> {{item.fields.brand_name}} </div>
          <div id='itemName'> {{item.fields.item_name}} </div>
          <div id='itemCal'> {{item.fields.nf_calories + ' cal'}} </div>
          </span>
          </div>
        </div>
        <br>
     </div>
    </form>

    <form class='form-inline' name='inputNutrition' method='post' style='width:700px'>
      <div class="form-group space">
        <label for="foodName">What did you eat?</label>
        <input type="text" style="width:300px" class="form-control input-sm" id="foodInput" ng-model='log.name' value='{{ log.name }}'>
      </div>
      <br>
      <div class="form-group space">
        <label for="date">Date:</label>
        <input type="date" class="form-control input-sm" id="date" ng-model="log.date" required>
      </div>
      <br>
      <div class="form-group space">
        <label for="servingSize">Serving Size:</label>
        <input type="number" min="0" class="form-control input-sm" name='foodServing' id="foodServing" ng-model="log.serving" value='{{ log.serving }}'>
      </div>
      <br>
      <div class="form-group space">
        <label for="cal">Calories:</label>
        <input type="number" min="0" class="form-control input-sm" id="cal" ng-model="log.cal" value='{{ log.cal }}'>
      </div>
      <br>
      <div class="form-group space">
        <label class="form-control-static">Fat (g):</label>
        <input type="number" min="0" ng-model='log.fat' name='foodFat' id='foodFat' class="form-control input-sm" maxlength='4' value='{{ log.fat }}'>
      </div>
      <br>
      <div class="form-group space">
        <label class="form-control-static">Fiber (g):</label>
        <input type="number" min="0" ng-model='log.fiber' name='foodFiber' id='foodFiber' class="form-control input-sm" maxlength='4' value='{{ log.fiber}}'>
      </div>
      <br>
      <div class="form-group space">
        <label class="form-control-static">Carbs (g):</label>
        <input type="number" min="0" ng-model='log.carbs' name='foodCarb' id='foodCarb' class="form-control input-sm" maxlength='4' value='{{ log.carbs }}'>
      </div>
      <br>
      <div class="form-group space">
        <label class="form-control-static">Sodium (mg):</label>
        <input type="number" min="0" ng-model='log.sodium' name='foodSalt' id='foodSalt' class="form-control input-sm" maxlength='5' value='{{ log.sodium }}'>
      </div>
      <br>
      <div class="form-group space">
        <label class="form-control-static">Protein (g):</label>
        <input type="number" min="0" ng-model='log.protein' name='foodProtein' id='foodProtein' class="form-control input-sm" maxlength='4' value='{{ log.protein }}'>
      </div>
      <br>
      <div class="form-group space">
        <label class="form-control-static">Water (cups):</label>
        <input type="number" min="0" ng-model='log.water' name='water' id='water' class="form-control input-sm" maxlength='4'>
      </div>
      <br>
      <label class="form-control-static space">When?</label>
      <select name='Time' ng-model='log.time' required> 
        <option value="" selected disabled>--Please Select--</option>
        <option>Breakfast</option>
        <option>Morning Snack</option>
        <option>Lunch</option>
        <option>Afternoon Snack</option>
        <option>Dinner</option>
        <option>Evening Snack</option>
      </select>
      <br>
      <input type='submit' class="btn btn-primary btn-sm space" value='Log Nutritional Facts' ng-click='submitFoodLog()'/>
    </form>
<img align='middle' id='nutritionix' src="https://d3jpl91pxevbkh.cloudfront.net/nutritionix/image/upload/v1363458498/attribution_jqfdgy.png" border="0">
</div>