<div class="container" ng-controller='NutritionCtrl'>
  <h2>Search Food</h2>
    <form name='searchNutrition' method='post' ng-submit='searchFoodDB(food.query)'>
      <input type='search' name='query' placeholder='Search the database' ng-model='food.query' ng-change='searchFoodDB(food.query)'>
      <input type='submit'>
    </form>

    <h3>Results</h3>
    <div id='searchResults'>
      <div ng-model='food.results' ng-repeat='(index,item) in food.results track by $index'>
        <a ng-click='getNutrition(item._id)'>{{item.fields.brand_name}}  {{item.fields.item_name}} / {{item.fields.nf_calories + ' calories'}}</a>
      </div>
    </div>


  <h3>Food Log</h3>
    <form name='inputNutrition' method='post' style='width:700px'>
      What did you eat? 
      <br>
      <input type='text' ng-model='log.name' name='foodInput' id='foodInput' size="35" maxlength='80' value='{{ log.name }}'>
      <br>
       Date:
      <input type='date' ng-model='log.date' name='foodDate' id='foodDate' size='20' maxlength='30'>
      <br>
      Serving Size:
      <input type='text' ng-model='log.serving' name='foodServing' id='foodServing' size='20' maxlength='30' value='{{ log.serving }}'>
      <br>
      Calories:
      <input type='text' ng-model='log.cal' name='foodCal' id='foodCal' maxlength='5'size='10' value='{{ log.cal }}'>
      Fat (g):
      <input type='text' ng-model='log.fat' name='foodFat' id='foodFat' maxlength='3' size='10' value='{{ log.fat }}'>
      Fiber (g):
      <input type='text' ng-model='log.fiber' name='foodFiber' id='foodFiber' maxlength='3' size='10' value='{{ log.fiber }}'>
      Carbohydrates (g):
      <input type='text' ng-model='log.carbs' name='foodCarb' id='foodCarb' maxlength='3' size='10' value='{{ log.carbs }}'>
      <br>
      Sodium (mg):
      <input type='text' ng-model='log.sodium' name='foodSalt' id='foodSalt' maxlength='5' size='10' value='{{ log.sodium }}'>
      Protein (g):
      <input type='text' ng-model='log.protein' name='foodProtein' id='foodProtein' maxlength='3' size='10' value='{{ log.protein }}'>

      Water (cups):
      <input type='text' ng-model='log.water' name='water' id='water' maxlength="2" size='10'>

      When?
      <select name='Time' ng-model='log.time' style='width:140px'> 
        <option>Breakfast</option>
        <option>Morning Snack</option>
        <option>Lunch</option>
        <option>Afternoon Snack</option>
        <option>Dinner</option>
        <option>Evening Snack</option>
      </select>
      <br>
      <input type='submit' value='Log Food' ng-click='submitFoodLog()'/>
    </form>

</div>