<div class="container" ng-controller='ProfileCtrl' data-ng-init="init()">
<h1>Profile</h1>
<div id='profile-page'>
  <form name='profile-setup' method='post'>
  <fieldset>
  <legend>Profile</legend>
    <div id='profile-name'>  Name:
     {{ display.username }}
    <br>
    </div>
    
    <div id='profile-age'>Age:
     {{ display.age }}
    <br>
    </div>
  
   <div id='profile-gender'>Gender:
     {{ getGender(display.gender) }}
    <br>
    </div>

    <div id='profile-height'> Height (inches):
     {{ display.height }}
    </div>

    <div id='profile-weight'> Weight (lbs):
    <input type='text' ng-model='prof.weight' placeholder="     {{ display.weight }}">
    <br>
    </div>

    <div id='profile-bodyfat'>
    Body Fat (%):
     <input type='text' ng-model='prof.bodyFat' placeholder="     {{ display.bodyfat }}"> 
    <br>
    </div>

    Activity Level:
    <div id='profile-activity'>
      <input type='radio' name='prof.activity' ng-model='prof.activity' value='sedentary'>  Sedentary (little to no exercise)<br>
      <input type='radio' name='prof.activity' ng-model='prof.activity' value='light'>     Lightly Active (light exercise; 1-3x/wk)<br>
      <input type='radio' name='prof.activity' ng-model='prof.activity' value='moderate'> Moderately Active (moderate exercise; 3-5x/wk)<br>
      <input type='radio' name='prof.activity' ng-model='prof.activity' value='very'> Very Active (hard exercise; 6-7x/wk)<br>
    </div>
    <br>

    <div id='profile-interest'>
    Fitness Interest:
    <select name='Fitness Interest' ng-model='prof.interest' style='width:140px'>
      <option ng-selected='selectedItem == cardio'>Cardio</option>
      <option ng-selected='selectedItem == strength'>Strength</option>
      <option ng-selected='selectedItem == both'>Both</option>
    </select>
    <br>
    </div>

    <div id='profile-gym'>
    Gym of Choice:
    <br> 
     <input id="gymSignup" type="radio" name="prof.gym" ng-model="prof.gym" value="la"> LA Fitness<br>
     <input id="gymSignup" type="radio" name="prof.gym" ng-model="prof.gym" value="24hour"> 24 Hour Fitness<br>
     <input id="gymSignup" type="radio" name="prof.gym" ng-model="prof.gym" value="ufc"> UFC Gym<br>
    <br>
    </div>



    <input type='submit' value='Submit Profile' ng-click='submitProfile()'/>
    </fieldset>
  </form>
  </div>
  </div>