<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
<button ng-click="displayChats()" class="btn btn-default visible-xs">Show  your chats</button>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">

<button class="btn btn-default" ng-click="searching()">
Search workout partners!
</button>
</div>
</div>
<div class="row">
<div class="entireChat col-lg-12">
<div id="chattingWith">{{chattingWith}}</div>
<div class="chat">
  <ul  id="messages" >
 	<li class="eachMessage" ng-repeat="messager in messages track by $index">{{messager.username}}: {{messager.message}}</li>

  </ul>
  <div id="typing"></div>
 
</div>
</div>
</div>
<div class="row">
 <form id="messageForm" ng-submit="sendMessage()">
    <input id="m" autocomplete="off" ng-model="message" required /><button id="sendMessage">Send</button>
  </form>
</div>

