<div class="row">
<div class="col-lg-12">
  <div >Your current city: {{savedAddress}}</div>
	<form ng-submit="sendCity()">
	  <label for="userAddress">Enter City or Zip Code</label>
	  <input id="userAddress" ng-model="address" />
	  <div>{{address}}</div>
	  <button type="submit">Send City or Zip</button>
	</form>
</div>
<div class="row">
<div>
  <ul class="flexor noListStyles">
    <li class="profileCard" ng-repeat = "user in userList">
      <ul class="noListStyles">
      <li class="searchedUsername">
        {{user.username}}
      </li>
      <li>
      	<img ng-if="!user.image" class="lilProfiles img-circle" src="../../assets/images/imageplaceholder.png" />
      	<img ng-if="user.image" class="lilProfiles img-rounded" ng-src="{{user.image}}" />
      </li>
<!--       <li>
        <div>Interests include:</div>
        <ul>
          <li ng-repeat="interesting in user.interest">
            {{interesting}}
          </li>
        </ul>
      </li>
 -->      <li>
 	    {{user.gym}}
      </li>
      <li>
      	<button ng-click='chatWithUser(user.username)'>Chat with {{user.username}}</button>
      </li>
      </ul> 
    </li>
  </ul>
</div>
</div>
</div>