<div>
    <h2>Nutrition Graphs</h2>
    <span ng-if="nutritionData.length === 0">No nutrition logs found.</span>
    <div ng-if="nutritionData.length !== 0">
        <div class="ct-chart" id="ct1"></div>
        <div class="ct-chart" id="ct2"></div>
        <div class="ct-chart" id="ct3"></div>
    </div>

    <div class='cardioHeader'>
      <h2>Cardio Graph</h2>
      <span ng-if="lastSevenPace.length === 0 || lastSevenSessions.length === 0">No cardio logs found.</span>
      <div class='ct-chart' id='ct4'></div>
    </div>


</div>

