<div id="nutrition">
    <h2>Create Goals for Nutrition</h2>
    <form>
    <label for="date">Complete By:</label>
    <input id="date" type="date" min="2014-01-01" max="2020-12-31" ng-model="nutrition.date" placeholder="date">


    <select name="intensity" id="intensity" ng-model="nutrition.intensity">
        <option value="" selected disabled>Increase/Decrease</option>
        <option value="Increase">Increase</option>
        <option value="Decrease">Decrease</option>
    </select>

    <label for="category">Health/Nutrition Goal:</label>
    <select name="nutrition" id="category" ng-model="nutrition.category">
        <option value="" selected disabled>Nutrition Goal</option>
        <option value="Weight">Weight</option>
        <option value="Body Fat">Body Fat</option>
    </select>


    <label for="value">By:</label>
    <input type="number" id="value" ng-model="nutrition.value">


    <label for="measurement">Measurement:</label>
    <select name="measurement" id="measurement" ng-model="nutrition.measurement">
        <option value="" selected disabled>Select Measurement</option>
        <option value="Miles">Pounds</option>
        <option value="Laps">Inches</option>
    </select>

        <button type="submit" ng-click="submitNutrition(nutrition.date, nutrition.intensity, nutrition.category, nutrition.value, nutrition.measurement)">Submit</button>

    </form>
</div>