<div id="nutrition">
    <div class="nutritionHeader">
        <h2>Nutrition Goal</h2>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="date" class="col-sm-4 control-label">Complete By:</label>
            <div class="col-sm-4">
                <input class="form-control" id="date" type="date" min="2014-01-01" max="2020-12-31" ng-model="nutrition.date" placeholder="date" required>
            </div>
        </div>

        <div class="form-group">
            <label for="intensity" class="col-sm-4 control-label">Change:</label>
            <div class="col-sm-4">
                <select name="intensity" id="intensity" ng-model='nutrition.intensity' required>
                    <option value="" selected disabled>Increase/Decrease</option>
                    <option value="Increase">Increase</option>
                    <option value="Decrease">Decrease</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="category" class="col-sm-4 control-label">Exercise Type:</label>
            <div class="col-sm-4">
                <select name="nutrition" id="category" ng-model="nutrition.category">
                    <option value="" selected disabled>Nutrition Goal</option>
                    <option value="Weight">Weight</option>
                    <option value="Body Fat">Body Fat</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="value" class="col-sm-4 control-label">By:</label>
            <div class="col-sm-4">
                <input type="number" id="value" ng-model='nutrition.value' class="form-control" required>
            </div>
        </div>

        <div class="form-group">
            <label for="measurement" class="col-sm-4 control-label">Measurement:</label>
            <div class="col-sm-4">
                <select name="measurement" id="measurement" ng-model="nutrition.measurement" required>
                    <option value="" selected disabled>Select Measurement</option>
                    <option value="Pounds">Pounds</option>
                    <option value="Inches">Inches</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button type="submit" ng-click="submitNutrition(nutrition.date, nutrition.intensity, nutrition.category, nutrition.value, nutrition.measurement)" class="btn btn-default">Create Goal!</button>
            </div>
        </div>

    </form>

</div>
