<div id="strength">
    <form>
    <h2>Create Goals for Strength Exercise</h2>
    <label for="date">Complete By:</label>
    <input id="date" type="date" min="2014-01-01" max="2020-12-31" ng-model="strength.date" placeholder="date">

    <select name="intensity" id="intensity" ng-model='strength.intensity'>
        <option value="" selected disabled>Increase/Decrease</option>
        <option value="Increase">Increase</option>
        <option value="Decrease">Decrease</option>
    </select>

    <label for="category">Exercise Type:</label>
    <select name="strength" id="category" ng-model='strength.category'>
        <option value="" selected disabled>Strength Exercise</option>
        <option value="Benching">Benching</option>
        <option value="Squatting">Squatting</option>
        <option value="Deadlifting">Deadlifting</option>
    </select>



    <label for="value">By:</label>
    <input type="number" id="value" ng-model='strength.value' class="form-control">


    <label for="measurement">Measurement:</label>
    <select name="measurement" id="measurement" ng-model='strength.measurement'>
        <option value="" selected disabled>Select Measurement</option>
        <option value="Weights">Weights</option>
        <option value="Reps">Reps</option>
        <option value="Sets">Sets</option>
        <option value="Duration">Hours</option>
    </select>

        <button type="submit" ng-click="submitStrength(strength.date, strength.intensity, strength.category, strength.value, strength.measurement)">Submit</button>

    </form>
</div>